@model Prospectus.Models.Produto

@{
    ViewData["Title"] = "Adicionar Produto";
}

<h3 style="padding-top: 50px ">Novo Produto</h3>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-8">

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea rows="3" asp-for="Descricao" class="form-control"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Unidade" class="control-label"></label>
                <select asp-for="Unidade" class="form-control">
                    <option value="">Selecione um padrão</option>
                    <option value="UND">UNIDADE</option>
                    <option value="CAX">CAIXA</option>
                    <option value="FRD">FARDO</option>
                    <option value="KIT">KIT</option>
                </select>
                <!-- <input asp-for="Unidade" class="form-control" /> -->
                <span asp-validation-for="Unidade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NCM" class="control-label"></label>
                <input asp-for="NCM" class="form-control" />
                <span asp-validation-for="NCM" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="PrecoCompra" class="control-label"></label>
                <input asp-for="PrecoCompra" class="form-control" />
                <span asp-validation-for="PrecoCompra" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PrecoVenda" class="control-label"></label>
                <input asp-for="PrecoVenda" class="form-control" />
                <span asp-validation-for="PrecoVenda" class="text-danger"></span>
            </div>

            

        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="PrecoCusto" class="control-label"></label>
                <input asp-for="PrecoCusto" class="form-control" />
                <span asp-validation-for="PrecoCusto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OportunidadeId" class="control-label">Oportunidade</label>
                <select asp-for="OportunidadeId" class="form-control" asp-items="ViewBag.OportunidadeId"></select>
                <span asp-validation-for="OportunidadeId" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group col-md-3">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isAtivo" checked="checked"/> @Html.DisplayNameFor(model => model.isAtivo)
                </label>

            </div>
        </div>

    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
