@{
    ViewData["Title"] = "Créditos";
}
<h1>@ViewData["Title"]</h1>

<p>Este software foi desenvolvido pela Softaway Sistemas, sob autorização da DinnamuS Automação.</p>
<p>Contatos:</p>
<p>(91) 98614-7597</p>
<p>(91) 98502-6827</p>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar para o início</a>
</div>
